html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.home {
  background-color: hotpink;
  display: flex;
  flex-direction: column;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px chartreuse;
  font-size: 1.25rem;
  overflow: hidden;
}
a:hover {
  color: white;
}
h1 {
  letter-spacing: 1px;
}
h2 {
  font-size: 1.5rem;
}
nav {
  padding-bottom: 15px;
}
nav a {
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 15px;
  /* padding-bottom: 15px; */
  background-color: chartreuse;
  text-shadow: 2px 2px 2px hotpink;
}
.stay-put {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  /* max-width: 100vw; */
  display: flex;
  justify-content: center;
  background-color: chartreuse;
  color: black;
  flex-wrap: wrap;
}
div {
  letter-spacing: 1px;
}
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw
} 
.secondary {
  justify-content: flex-start;
  padding-top: 68px
}
.extraGreen {
  color: chartreuse;
}
.name-blast{
  font-size: 10rem;
  font-weight: bold;
  margin-top: 68px
}
.job-title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.hello-world {
  width: 50%;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 1px;
}
#skillz {
  width: 50%;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 1px;
}
.content {
  max-width: 100vw;
  margin-top: 15px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img {
  margin-left: 10%;
  margin-right: 50px;
  width: 50%
}
.me {
  margin-left: 10%;
  margin-right: 75px;
}
.project-name {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.project-details {
  display: flex;
  flex-direction: column; 
  padding-top: 10px;
  margin-right: 10%;
  width: 50%
}
.deets {  
  display: flex;
  flex-direction: column;
  margin-right: 10%
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%
}
.description {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5rem;
  font-size: 1.15rem;
}
.tech {
  line-height: 1.5rem;
  font-size: 1.15rem;
}
.bumper {
  margin-bottom: 20px;
}
.email {
  font-size: 1.15rem;
}

/* GALLERY STYLES */
.main-gallery {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.gallery {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  max-height: 550px;
  max-width: 550px;
}
/* div all pics live inside of */
.keen-slider {
  max-height: 500px;
  max-width: 500px;
  /* display: flex; */

}
/* picture div */
.keen-slider__slide {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
}
.flyer {
  
}
.arrow {
  width: 30px;
  height: 30px;
  position: relative;
  /* top: 50%; */
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: hotpink;
  cursor: pointer;
}
.arrow--left {
  left: -5px;
  /* right: px; */
}
.arrow--right {
  left: 5px;
  right: 5px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1600px) {
  .name-blast{
    font-size: 7rem;
    font-weight: bold
  }
}
@media (max-width: 1150px) {
  .name-blast{
    font-size: 5rem;
    font-weight: bold
  }
  .hello-world {
    width: 90%
  }
  #skillz{
    width: 90%
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .img {
    margin-left: 0;
    margin-right: 0;
    width: 90%;
  }
  .project-name {
    text-align: left;
  }
  .project-details {
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
    width: 90%
  }
  .me {
    margin: 0px
  }
  .links {
    justify-content: space-around;
  }
}
@media (max-width: 800px) {
  .name-blast {
    font-size: 4rem
  }
  .job-title {
    font-size: 2rem;
  }
}
@media (max-width: 650px) {
  .name-blast{
    font-size: 3rem;
  }
}
@media (max-width: 560px) {
  .gallery {
    margin-top: 100px
  }
  #projects {
    padding-top: 120px
  }
  #contact {
    padding-top: 120px
  }
  nav a {
    padding-top: 10px;
  }
}
@media (max-width: 499px) {
  .container{
    margin-left: 5px; 
  }
  .name-blast{
    font-size: 2rem;
    font-weight: 800;
    align-self: flex-start;
  }
  .job-title {
    font-size: 1.5rem;
    align-self: flex-start;
  }
  .hello-world {
    align-self: flex-start;
  }
  #skillz{
    align-self: flex-start;
  }
  h1 {
    align-self: flex-start;
  }
  .content {
    align-items: flex-start;
    justify-content: center;
  }
  .me{
    margin-left: 0px;
    margin-right: 10px;
  }
  ul {
    padding-left: 0;
  }
}
@media (max-width: 360px) {
  /* .name-blast {
    font-size: 1rem
  } */
  .stay-put {
    font-size: 1rem;
  }
  .email {
    font-size: .75rem;
  }
}