html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.home {
  background-color: #0A030C;
  display: flex;
  flex-direction: column;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.25rem;
  overflow: hidden;
  padding: 3px 9px 3px 9px;
  background-color: #8B54FE;
  border-radius: 15px
}
a:hover {
  color: white;
}
h1 {
  letter-spacing: 1px;
  color: #FD9EFB;
}
h2 {
  font-size: 1.5rem;
  color: #FD9EFB;
}
nav {
  padding-top: 15px;
}
nav a {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 3px 9px 3px 9px;
  background-color: #8B54FE;
  border-radius: 15px
}
.stay-put {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: black;
  color: black;
  flex-wrap: wrap;
  overflow: hidden;
}
div {
  letter-spacing: 1px;
}
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw
} 
.secondary {
  justify-content: flex-start;
  padding-top: 75px
}
#name-blast{
  font-size: 10rem;
  font-weight: bold;
  margin-top: 50px;
  color: #FD9EFB
}
.job-title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FD9EFB
}
.hello-world {
  width: 50%;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 1px;
  background-color: #22FFB6;
  border-radius: 15px;
  padding: 9px 18px 9px 18px;
}
#skillz-header {
  color: #FD9EFB;
}
.skillz {
  width: 63%;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skill {
  padding: 3px 9px 3px 9px;
  background-color: #FD9EFB;
  border-radius: 15px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
}
.content {
  max-width: 100vw;
  margin-top: 15px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img {
  margin-left: 10%;
  margin-right: 50px;
  width: 50%
}
.me {
  margin-left: 10%;
  margin-right: 75px;
}
.project-name {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.project-details {
  display: flex;
  flex-direction: column; 
  padding-top: 10px;
  margin-right: 10%;
  width: 50%
}
.deets {  
  display: flex;
  flex-direction: column;
  margin-right: 10%
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%
}
.description {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5rem;
  font-size: 1.15rem;
  background-color: #22FFB6;
  border-radius: 15px;
  padding: 9px 18px 9px 18px;
}
.tech {
  line-height: 1.5rem;
  font-size: 1.15rem;
  background-color: #22FFB6;
  border-radius: 15px;
  padding: 9px 18px 9px 18px;
}
.bumper {
  margin-bottom: 20px;
}
.email {
  font-size: 1.15rem;
  padding: 3px 9px 3px 9px;
  color: #22FFB6;
  border-radius: 15px;
  font-weight: bold;
}

/* GALLERY STYLES */
img {
  max-height: 100%;
  max-width: 100%;
  background-color: black;
}
.main-gallery {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.gallery {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gallery-container-left {
  margin-right: 10px;
  width: 100%;
}
.gallery-container-right {
  margin-left: 10px;
  width: 100%
}
.inner-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-wrapper {
  margin: 15px;
  position: relative;
  width: 500px;
}
/* picture div */
.keen-slider__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  /* I think height has to be set */
  height: 500px
}
.arrow {
  width: 30px;
  height: 30px;
  position: relative;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #FD9EFB;
  cursor: pointer;
}
.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}
.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 6px;
  padding: 5px;
  cursor: pointer;
}
.dot:focus {
  outline: none;
}
.dot.active {
  background: #22FFB6;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1600px) {
  #name-blast{
    font-size: 7rem;
    font-weight: bold
  }
}
@media (max-width: 1450px){
  .description, .tech {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
@media (max-width: 1200px){
  .navigation-wrapper {
    width: 450px;
  }
  .keen-slider__slide {
    height: 450px;
  }
  .description, .tech {
    font-size: .75rem;
    line-height: 1rem;
  }
  .hello-world, .skillz {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 1150px) {
  #name-blast{
    font-size: 5rem;
    font-weight: bold
  }
  .hello-world {
    width: 90%
  }
  .skillz{
    width: 90%
  }
  .me {
    margin: 0px
  }
  .links {
    justify-content: space-around;
  }
  .navigation-wrapper {
    width: 400px;
  }
  .keen-slider__slide {
    height: 400px;
  }
  .gallery {
    flex-direction: column;
  }
  .gallery-container-left, .gallery-container-right  {
    margin: 0 0 25px 0
  }
}
@media (max-width: 1000px){
  /* .navigation-wrapper {
    width: 350px;
  }
  .keen-slider__slide {
    height: 350px;
  } */
  .content {
    flex-direction: column;
    align-items: center;
  }
  .img {
    margin-left: 0;
    margin-right: 0;
    width: 90%;
  }
  .project-name {
    text-align: left;
  }
  .project-details {
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
    width: 90%
  }
  .dot {
    margin: 0 5px;
  }
}
@media (max-width: 900px){
  /* .navigation-wrapper {
    width: 300px;
  }
  .keen-slider__slide {
    height: 300px;
  } */
  a {
    font-size: 1rem;
  }
  .dot {
    margin: 0 4px;
  }
}
@media (max-width: 800px) {
  #name-blast {
    font-size: 4rem
  }
  .job-title {
    font-size: 2rem;
  }
  .gallery {
    flex-direction: column;
  }
  .navigation-wrapper {
    width: 400px;
    margin: 0 15px 0 15px;
  }
  .keen-slider__slide {
    height: 400px;
  }
  .gallery-container-left, .gallery-container-right  {
    margin: 0 0 25px 0
  }
  .skillz {
    font-size: .75rem;
    line-height: 1rem;
  }
}
@media (max-width: 650px) {
  #name-blast{
    font-size: 3rem;
  }
}
@media (max-width: 560px) {
  .gallery {
    margin-top: 100px
  }
  #projects {
    padding-top: 120px
  }
  #contact {
    padding-top: 120px
  }
  .description, .tech {
    padding: 9px 9px 9px 9px;
  }
}
@media (max-width: 499px) {
  .container{
    margin-left: 5px; 
  }
  #name-blast{
    font-size: 2rem;
    font-weight: 800;
    align-self: flex-start;
  }
  .job-title {
    font-size: 1.5rem;
    align-self: flex-start;
  }
  .hello-world {
    align-self: flex-start;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 9px 9px 9px 9px;
  }
  .skillz{
    justify-content: flex-start;
    align-self: flex-start;
    width: 90%;
  }
  h1 {
    align-self: flex-start;
  }
  .content {
    align-items: flex-start;
    justify-content: center;
  }
  .me{
    margin-left: 0px;
    margin-right: 10px;
  }
  ul {
    padding-left: 0;
  }
  .arrow {
    display: none;
  }
  .navigation-wrapper {
    width: 350px;
  }
  .keen-slider__slide {
    height: 350px;
  }
}
@media (max-width: 360px) {
  .stay-put {
    font-size: 1rem;
  }
  .email {
    font-size: .75rem;
  }
  .navigation-wrapper {
    width: 325px;
  }
  .keen-slider__slide {
    height: 325px;
  }
  .dot {
    padding: 4px;
    width: 7px;
    height: 7px;
  }
  .hello-world, .skillz, a {
    font-size: .75rem;
    line-height: 1rem;
  }
}
@media (max-width: 320px) {
  .dot {
    padding: 3px;
    width: 5px;
    height: 5px;
    margin: 0 3px;
  }
}